.parallax-wrapper {  position: relative; height: 100%; width: 100%; }

.parallax { background: url() no-repeat fixed 50% 0; background-size: contain;height:0;width: 100%; overflow: hidden;}




#bannertext { width: 24em; position: fixed; top: 20%; left: 50%; border: .5em solid #fff; margin-left: -12em; padding: 2em 0; }
