

<!-- <div class="row align-center">
  <div class="columns small-12 medium-10"> -->
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="">
      <div class="row align-center collapse">
        <ul class="orbit-container columns small-12 medium-10">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          
          <li class="is-active orbit-slide">
            <div class="row">
              <div class="column hide-for-medium shrink">
                <div class="card">
                  <div class="card-image">
                    <img class="orbit-image" src="{{root}}assets/img/orbit_unternehmen.jpg" alt="Unternehmen"/>
                  </div>
                  <div class="card-section">
                    <h6>Unternehmen</h6>
                    <p>Sanitas gehört mit rund 822'500 Kundinnen und Kunden zu den grössten Krankenkassen der Schweiz.</p>
                  </div>
              </div>     
             </div>              
            <div class="column small-4 show-for-medium">
              <div class="card">              
                <div class="card-image">
                  <img class="orbit-image" src="{{root}}assets/img/orbit_unternehmen.jpg" alt="Unternehmen"/>
                </div>
                <div class="card-section">
                  <h6>Unternehmen</h6>
                  <p>Sanitas gehört mit rund 822'500 Kundinnen und Kunden zu den grössten Krankenkassen der Schweiz.</p>
                </div>
              </div>    
            </div>
            <div class="column small-4 show-for-medium">
              <div class="card">              
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_medien.jpg" alt="Medien"/>
                </div>
                <div class="card-section">
                  <h6>Medien</h6>
                  <p>Wir geben Journalisten gerne Auskunft zur Sanitas Krankenversicherung und nehmen Stellung zu gesundheitspolitischen Themen.</p>
                </div>
              </div>    
            </div>
            <div class="column small-4 show-for-medium">
              <div class="card">                
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_publikationen.jpg" alt="Publikationen"/>
                </div>
                <div class="card-section">
                  <h6>Publikationen</h6>
                  <p>Mit dem Geschäftsbericht und dem Kundenmagazin über Finanzzahlen und neuste Entwicklungen im Gesundheitswesen informiert sein.</p>
                </div>
              </div>
            </div>            
          </div>                                     
        </li>
        
        <li class="orbit-slide">
          <div class="row">
            <div class="column hide-for-medium shrink">
              <div class="card">              
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_medien.jpg" alt="Medien"/>
                </div>
                <div class="card-section">
                  <h6>Medien</h6>
                  <p>Wir geben Journalisten gerne Auskunft zur Sanitas Krankenversicherung und nehmen Stellung zu gesundheitspolitischen Themen.</p>
                </div>
              </div>
            </div>            
            <div class="column small-4 show-for-medium">
              <div class="card">                 
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_arbeitsgeber.jpg" alt="Sanitas als Arbeitsgeber"/>
                </div>
                <div class="card-section">
                  <h6>Sanitas als Arbeitsgeber</h6>
                  <p>Sanitas gehört zu den führenden Krankenkassen und bietet Berufserfahrenen und Lernenden spannende Aufgaben und vielseitige Einsatzmöglichkeit</p>
                </div>
              </div>
            </div>            
          </div>   
        </li>

       <li class="orbit-slide">
          <div class="row">
            <div class="column hide-for-medium shrink">
              <div class="card">
                <div class="card-image">
                  <img class="orbit-image" src="{{root}}assets/img/orbit_publikationen.jpg" alt="Publikationen"/>
                </div>
                <div class="card-section">
                  <h6>Publikationen</h6>
                  <p>Mit dem Geschäftsbericht und dem Kundenmagazin über Finanzzahlen und neuste Entwicklungen im Gesundheitswesen informiert sein.</p>
                </div>
              </div>
             </div>              
            <div class="column small-4 show-for-medium">
              <div class="card">              
                <div class="card-image">
                  <img class="orbit-image" src="{{root}}assets/img/orbit_unternehmen.jpg" alt="Unternehmen"/>
                </div>
                <div class="card-section">
                  <h6>Unternehmen</h6>
                  <p>Sanitas gehört mit rund 822'500 Kundinnen und Kunden zu den grössten Krankenkassen der Schweiz.</p>
                </div>
             </div>
            </div>            
            <div class="column small-4 show-for-medium">
              <div class="card">              
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_medien.jpg" alt="Medien"/>
                </div>
                <div class="card-section">
                  <h6>Medien</h6>
                  <p>Wir geben Journalisten gerne Auskunft zur Sanitas Krankenversicherung und nehmen Stellung zu gesundheitspolitischen Themen.</p>
                </div>
              </div>      
            </div>
            <div class="column small-4 show-for-medium">
              <div class="card">              
                <div class="card-image">
                 <img class="orbit-image" src="{{root}}assets/img/orbit_publikationen.jpg" alt="Publikationen"/>
                </div>
                <div class="card-section">
                  <h6>Publikationen</h6>
                  <p>Mit dem Geschäftsbericht und dem Kundenmagazin über Finanzzahlen und neuste Entwicklungen im Gesundheitswesen informiert sein.</p>
                </div>
             </div>                
            </div>
          </div>                                     
          </li>

          <li class="orbit-slide">
            <div class="row">
              <div class="column hide-for-medium shrink">
                <div class="card">              
                  <div class="card-image">
                   <img class="orbit-image" src="{{root}}assets/img/orbit_arbeitsgeber.jpg" alt="Sanitas als Arbeitsgeber"/>
                  </div>
                  <div class="card-section">
                    <h6>Sanitas als Arbeitsgeber</h6>
                    <p>Sanitas gehört zu den führenden Krankenkassen und bietet Berufserfahrenen und Lernenden spannende Aufgaben und vielseitige Einsatzmöglichkeit</p>
                  </div>
                </div>                 
              </div>
              <div class="column small-4 show-for-medium">
                <div class="card">
                  <div class="card-image">
                   <img class="orbit-image" src="{{root}}assets/img/orbit_arbeitsgeber.jpg" alt="Sanitas als Arbeitsgeber"/>
                  </div>
                  <div class="card-section">
                    <h6>Sanitas als Arbeitsgeber</h6>
                    <p>Sanitas gehört zu den führenden Krankenkassen und bietet Berufserfahrenen und Lernenden spannende Aufgaben und vielseitige Einsatzmöglichkeit</p>
                  </div>
                </div>                
              </div>
            </div>   
          </li>
        </ul>
      </div>
    </div>
<!--   </div>
</div> -->



<!--     <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="">
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container row align-center collapse">
          <li class="is-active orbit-slide">
            <div class="column small-12 medium-10 large-8">
              <img class="orbit-image" src="{{root}}assets/img/orbit_unternehmen.jpg" alt="Unternehmen"/>
              <h6>Unternehmen</h6>
              <p>Sanitas gehört mit rund 822'500 Kundinnen und Kunden zu den grössten Krankenkassen der Schweiz.</p>
            </div>
          </li>
          <li class="orbit-slide">        
            <div class="column small-12 medium-10 large-8">
              <img class="orbit-image" src="{{root}}assets/img/orbit_medien.jpg" alt="Medien"/>
              <h6>Medien</h6>
              <p>Wir geben Journalisten gerne Auskunft zur Sanitas Krankenversicherung und nehmen Stellung zu gesundheitspolitischen Themen.</p>
            </div>
          </li>
          <li class="orbit-slide">            
            <div class="column small-12 medium-10 large-8">
              <img class="orbit-image" src="{{root}}assets/img/orbit_publikationen.jpg" alt="Publikationen"/>
              <h6>Publikationen</h6>
              <p>Mit dem Geschäftsbericht und dem Kundenmagazin über Finanzzahlen und neuste Entwicklungen im Gesundheitswesen informiert sein.</p>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="column small-12 medium-10 large-8">
              <img class="orbit-image" src="{{root}}assets/img/orbit_medien.jpg" alt="Sanitas als Arbeitsgeber"/>
              <h6>Sanitas als Arbeitsgeber</h6>
              <p>Sanitas gehört zu den führenden Krankenkassen und bietet Berufserfahrenen und Lernenden spannende Aufgaben und vielseitige Einsatzmöglichkeit</p>
            </div>
          </li>     
        </ul>
      </div>
       <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>   
      </nav>
    </div> -->